

<p id="notice"><%= notice %></p>

<p>
  <p class='lhs'><strong>Name:</strong></p>
  <p class='rhs'><%= @mapp.name %></p>
</p>

<p>
  <p class='lhs'><strong>Number:</strong></p>
  <p class='rhs'><%= @mapp.number %></p>
</p>
<button class='buttons'><%= link_to 'Show All', mapps_path %></button>
